.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background: rgb(156, 245, 73);
  display: flex;
  flex-wrap: wrap;
  overflow-x: auto;
  gap: 10px;
  align-items: center;
   justify-content: space-between;
  padding: 0 10px;
  z-index: 1000;
  border-bottom: 1px solid #ef09c9;
}
.navbar a {
  font-size: 14px;           /* 🔥 smaller text */
  text-decoration: none;
  color: #171010;
  padding: 4px 6px;          /* compact */
}

.navbar a:hover {
  color: hsl(316, 95%, 47%);
}

@media (max-width: 480px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    background-color: hwb(36 0% 0%);
    width: 30px
  }
  .navbar img{
    width: 25px;
    height:auto;
  }

  .navbar a {
    margin: 8px 0;
  }
}
.product-card {
  display:grid;
  flex-direction:column;
  align-items:center;
  background: hsl(193, 93%, 41%);
  border-radius: 15px;
  border: 2px solid #f5980c;
  padding: 10px;
  text-align: center;
  box-shadow: 0 10px  rgba(31, 222, 161, 0.1);
}
.product-card img {
  width: 100%;
  height: 100px;        
  object-fit: cover;
  border-radius: 12px;
}
.buy-btn {
  margin-top: 10px;
  padding: 8px 12px;
  background: #ff9900;
  color: white;
  text-decoration: none;
  border-radius: 8px;
}
.buy-btn:hover {
  color:#dc063f
}

section {
  width:420px;
  margin: 10px 0;
}

section h2 {
  margin-bottom: 20px;
  color: #333;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
}
@media (max-width: 768px) {
  div > section {
    flex: 1 1 100%; 
  }
}
/* Card container */
.card {
  display:grid;
  border: 1px solid #f5a30c;
  border-radius: 12px;
  padding: 12px;
  max-width: 250px;
  background: #ffffff;
  transition: all 0.3s ease;
}

/* Hover effect (Amazon-like) */
.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 20px rgba(0,0,0,0.1);
}

/* Image */
.card-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
}

/* Text */
.card-title {
  font-size: 16px;
  margin: 10px 0 5px;
}

.card-desc {
  font-size: 13px;
  color: #555;
}

.card-price {
  font-weight: bold;
  margin: 8px 0;
}

/* Buttons */
.card-actions {
  display: flex;
  justify-content: space-between;
}

.card-actions button {
  padding: 6px 10px;
  border: none;
  background: hsl(190, 100%, 50%);
  color: #2e11ea;
  border-radius: 6px;
  cursor: pointer;
}

.card-actions button:hover {
  background: #e68a00;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.main-content {
  margin-top: 20px; 
  padding: 20px;
}
.swiper {
  overflow: visible !important;
}



